.vscode/
__pycache__/
.ipynb_checkpoints/
images/
.DS_Store
"line-drawings/research/Handbook of Heuristics by Rafael Martí, Panos M.  Pardalos, Mauricio G. C. Resende (z-lib.org).pdf"
*_greyscale.png
line-drawings/notebooks/*.png